// Colors for styling. Will use later
$darkBlue: #162B32;
$lightRedish: #FF4838;
$lighterRedish: #FF6A3D;

* {
    background-color: $darkBlue;
    color: white;
    font-size: 18px;
}

.header {
    font-size: 30px;
    font-family: 'PT Sans', sans-serif;
}

table, th, td {
    padding: 2px;
    font-family: 'PT Sans', sans-serif;
}

th, td{
    padding: 8px;
    border: 1.5px solid $lightRedish;   
    border-left: none;
    border-top: none;
}

.form {
    border: 1.5px solid #FF4838;
}

.container {
    margin-top: 100px;
    border: none;
}


.convert-button {
    border-radius: 3px;
    transition: all 500ms ease;
    width: 100%;
    height: auto; 
    &:hover{
        background-color: $lightRedish;
        border-color: $lighterRedish;
        color: black;
    }
}
.turkish-lira{
    border-bottom: none;
}

#clearButton {
    font-size: 20px;
    margin-left: -530px;
    width: 110px;
    border: $lighterRedish;
    background: $lightRedish;
    margin-top: 5px;
    border-radius: 2px 2px 15px 2px;
    -moz-border-radius: 2px 2px 15px 2px;
    -webkit-border-radius: 2px 2px 15px 2px;
    padding: 9px;
    transition: all 0.3s ease; 
    &:hover{
        background: transparent;
        color: $lightRedish;
    }
}